body {
    margin: 0;
}

.title {
    position: absolute;
    font-size: 88px;
    color: #333;
    text-transform: uppercase;
    z-index: 100;
    top: 100px;
    left: 100px;
}

#nav {
    background-color: aqua;
    height: 50px;
}

#map {
    height: 100%;
    width: 100%;

}

.chart-data {
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
}

.map-info {
    background-color: bisque;
    height: 518px;

}

.data-info {
    height: 400px;
    display: grid;
    gap: 10px;
    grid-template-areas:
        'table-container news'
        'chart-data';
}

.data-list {
    height: 400px;
    display: flex;
    justify-content: center;
}

.table-container {
    width: 50%;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: scroll;
}

.news {
    position: absolute;
    width: 50%;
    height: 500px;
    right: -10px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: scroll;
    background-color: #444;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}


.info-flag img {
    width: 100px;
    border-radius: 5px;
}

.info-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.info-container {
    width: 160px;

}

.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}

.table-heading img {
    width: 30px;
}

#single-news {
    height: 450px;
    width: 450px;
    padding: 15px;
}

a:hover {
    text-decoration: none;
}

.widget.single-news {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.widget.single-news .image img {
    height: 100%;
    width: 420px;
}

.widget.single-news .image .gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
}

.widget.single-news .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.widget.single-news .details .category {
    font-size: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.widget.single-news .details .category a {
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
}

.widget.single-news .details h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.widget.single-news .details h3 a {
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.widget.single-news .details:hover time {
    position: relative;
    display: block;
    color: #fff;
    font-size: 13px;
    margin-bottom: -20px;
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}